/* Breaking scores table down across smaller sizes
*/
@media screen and (max-width: 300px) {
  .header__title {
    width: 50%;
    font-size: 2em;
  }
  .scores__inning, .scores__longName {
    display: none;
  }
  .scores__shortName {
    display: block;
  }
  .snippet__thumbnail {
    display: none;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .header__title {
    width: 50%;
    font-size: 3em;
  }
  .scores__shortName {
    display: none;
  }
}


/* For small screens, under 600px
   hamburger menu, single col
*/
@media screen and (max-width: 600px) {
  .hero, .weather, .top-news, .scores, .recent-news, footer {
    width: 100%;
    z-index: 0;
  }

  .header {
    z-index: 3;
  }

  .header__logo {
    width: 20%;
  }

  #hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    left: calc(max-width - 60px);
    top: 10px;
    cursor: pointer;
  }

  #drawer {
    width: 100%;
    height: 72px;
    z-index: 2;
    display: none;
  }

  .scores__shortName {
    display: none;
  }
}


/* For medium screens, 601-750px:
   nav bar instead of hamburger
 */
@media screen and (min-width: 601px) and (max-width: 750px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  #hamburger {
    display: none;
  }

  #drawer {
    display: block;
  }

  .nav {
    width: 100%; /*changed from 800px*/
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    width: 60%;
    order: 0;
  }

  .weather {
    width: 40%;
    order: 1;
  }

  .top-news {
    width: 50%;
    order: 2;
  }

  .scores {
    width: 50%;
    order: 3;
  }

  .scores__inning, .scores__longName {
    display: none;
  }

  .recent-news {
    width: 100%;
    order: 4;
  }
}

/* For large screens, 751-960px:
   mostly fluid
*/
@media screen and (min-width: 751px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

  #hamburger {
    display: none;
  }

  #drawer {
    display: block;
  }

  .nav {
    width: 100%; /*changed from 800px*/
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    width: 50%;
    order: 0;
  }

  .weather {
    width: 40%;
    order: 3;
  }

  .top-news {
    width: 50%;
    order: 1;
  }

  .scores {
    width: 60%;
    order: 2;
  }

  .scores__shortName {
    display: none;
  }

  .recent-news {
    width: 100%;
    order: 4;
  }
}

/* For extra-large screens, 961px+:
   add margins to fluid content
*/
@media screen and (min-width: 961px) {
  .header, .nav, .content, footer {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
